$dark-purple: rgb(65, 11, 64);
$green: rgb(14, 59, 49);
$greyed-out: rgb(196, 188, 198);

@mixin round-border ($colour){
  border: 1px solid $colour;
  border-radius: 2px;
}

@mixin row-flex {
  display: flex;
  flex-direction: row;
}

@mixin vertical-center-flex {
  display: flex;
  align-items: center;
}

@mixin center-both-ways{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body{
  font-family: Roboto Condensed, sans-serif;
  background-color: whitesmoke;
  box-sizing: border-box;
  overflow: auto;
}

html {
  margin: 0;
  padding: 0;
}

// the div containing the whole app
.bodyContainer{
  // position: relative;
  background-color: whitesmoke;
  height: 100vh;
  margin-top: 0;
}

//the div containing the dynamic part of the app (without the navbar)
// .App{
//   // width: 90%;
//   // height: 90vh;
//   margin: 0 auto;
//   // position: relative;
//   // background-color: rgb(187, 226, 214);
//   background-color: whitesmoke;
//   // border: 1px solid yellow;
//   box-sizing: border-box;
//   // padding-top: 30vh;
// }

// the buttons used in the Keyboard component
.dumbButtonClass{
  padding: 5px 7px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  margin-right: 10px;
  height: 30px;
  min-width: 60px;
}

// text input when in focus in the Keyboard component
.active{
  color: white;
  background-color: $dark-purple;
  cursor: pointer;
}

// 
.inactive{
  color:black;
  background-color: $greyed-out;
}

// the title of the application
.headerClass {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}

// applies to Keyboards
.keyboardGeneric{
  @include row-flex;
  font-size: 15px;
  // background-color: $green;
  &>div{
    @include round-border($green);
    @include vertical-center-flex;
    padding: 5px 10px;
    &:first-child{
      width: 20%;
    }
    &:nth-child(2){
      width: 75%;
      @include row-flex;
      &>*{
        margin: 0 10px;
      }
    }
  }
  &>section{
    width: 5%;
    @include center-both-ways;
  }
}

// the div at the center of the Keyboard
.centerKeyboard{
  width: 80%;
  // border: 1px solid green;
}

// bottom part of the central part of the Keyboard
.centerBottomKeyboard{
  @include row-flex();
  &>input:first-child{
    width: 40%;
    height: 25px;
    margin-left: 15%;
  }
  &>div{
    text-align: center;
    width: 20%;
    // background-color: red;
    height: 28px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    &>div{
      height: 17px;
      // border: 1px solid white;
    }
  }
  &>input:last-child{
    height: 25px;
  }
}

// Keyboard that is selected
.selectedKeyboard{
  background-color: rgba(182, 181, 181, 0.671);
}

// the left part of the Keybpard
.leftSection{
  @include center-both-ways();
  background-color: lighten($green, 15%);
  &>div{
    @include center-both-ways();
  }
}


.keyboardSearchKeyword{
  & input{
    height: 20px;
    background-color: rgb(229, 182, 238);
    border:1px solid $dark-purple;
    border-radius: 2px;
  }
}

// + and - icons on the right side of Keyboards
.icon{
  width: 25px;
  height: 25px;
  border: 2px solid rgb(30, 3, 34);
  line-height: 25px;
  border-radius: 50%;
  @include center-both-ways;
  font-weight: 900;
  font-size: 25px;
  cursor: pointer;
  &:hover, &:active{
    background-color: grey;
  }
}

// groups of buttons in Keyboards
.buttonGroup{
  // border: 1px solid blue;
  @include row-flex();
  justify-content: space-evenly;
  &>button {
    min-width: 120px;
    display: inline-block;
    margin: 5px 0;
  }
}

// the Keyboard that displays results of the search
.formatterClass{
  // @include round-border($green);
  // background-color: rgb(200, 206, 208);
  min-height: 100px;
  // background-color: lighten($green, 20%);
}

.positionInput{
  width: 40px;
}

.hidden{
  visibility: hidden;
}

.visible{
  visibility: visible;
  // border: 1px solid red;
}

// the menu containing options that allows combining search parameters
.dropDownMenu{
  position: absolute;
  transition: height 600ms ease-in-out;
  min-height: 120px;
  width: 200px;
  background-color: silver;
  color: rgb(16, 2, 17);
  display: none;
  &:hover{
    border: 2px solid red;
  }
}

// options in the dropDownMenu
.menuOption{
  transition: height 0 ease-in-out;
  height:30px;
  border: 1px solid black;
  &:hover{
    background-color: grey;
    color:white;
  }
}

// added to .dropDownMenu animates height
.deployedMenu{
  height: 120px;
}

.deployedMenuCard{
  height: 30px;
}

.retracted{
  height: 0;
}

// control whether the drop down menu is visible
.z-visible{
  display: block;
}

.z-invisible{
  display: none;
}

// 
.ConditionButton{
  padding: 3px 10px;
  border: 1px solid black;
  border-radius: 2px;
  min-width: 20px;
  display: inline-block;
  margin: 2px 4px;
  &>span:nth-child(even){
    background-color: aqua;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0 5px;
  }
  &>*{
    display: inline-block;
    padding: 0 5px;
  }
}

.selector{
  min-width: 140px;
  height: 30px;
  background-color: rgb(89, 196, 204);
  border: 1px solid rgb(68, 16, 16);
  border-radius: 2px 0;
  font-size: 14px;
}

.sortButton{
  // display: table;
  border: 1px solid greenyellow;
  width: 162px;
  height: 55px;
  // table-layout: fixed;
  &>div:first-child{
    height: 20px;
    min-width: 55px;
    max-width: 100px;
    overflow: hidden;
    background-color: red;
  }
  &>div{
    display: inline-block;
    // border: 1px solid orange;
  }
  &>div>svg{
    display: block;
    padding: 0;
    margin: 0;
    // border: 1px solid red;
    height: 10px;
  }
}

.awesomeIcons{
  // position: relative;
  vertical-align: top;
  height: 30px;
  width: 20px;
}

.triangle{
  fill:black;
  stroke:black;
  stroke-width:1;
  &:hover{
    fill: blue;
    stroke: blue;
    cursor: pointer;
  }
}

// .sortTop:hover{
//   fill: blue;
//   // stroke: blue;
//   // stroke-width: 1;
//   cursor: pointer;
// }

// .sortButtonRow-top{
//   // display: table-row;
//   width: 62px;
//   height: 20px;
//   &>*{
//     display: table-cell;
//     // border: 1px solid red;
//   }
//   &>div:first-child{
//     background-color: red;
//     vertical-align: middle;
//   }
// }

// .sortButtonRow-bottom{
//   // display: table-row;
//   width: 62px;
//   height: 25px;
//   &>*{
//     display: table-cell;
//     // border: 1px solid red;
//   }
// }

// .awesomeClass-top{
//   // border: 1px solid green;
//   // padding-top: 15px;
//   box-sizing: border-box;
//   position: relative;
//   // border: 1px solid green;
//   height: 20px;
//   width: 12px;
//   &>*{
//     position: absolute;
//     bottom: 0px;
//   }
// }

// .awesomeClass-bottom{
//   // padding-bottom: 15px;
//   box-sizing: border-box;
//   // line-height: 20px;
//   height: 20px;
//   width: 12px;
//   position: relative;
//   &>*{
//     position: absolute;
//     top: 0;
//   }
// }

[class *= "awesomeClass"]>*:hover{
  cursor: pointer;
  color: blue;
}

.sortButtonCell{
  background-color: olivedrab;
  border: 1px solid black;
  // height: 30px;
}

// .sortButtonCell{
//   // border: 1px solid red;
//   background-color: blanchedalmond;
//   &:first-child{
//     width: 50px;
//     overflow: hidden;
//     font-size: 14px;
//   }
//   &>select{
//     width: 49px;
//     font-size: 12px;
//   }
// }

.headerSortButtons{
  // display: table-header-group;
  // border: 1px solid yellow;
}

// .sorterClass{
// }

// background of the pop window
.backgroundPopWindow{
  // background-color:rgba(240, 240, 234, 0.7);
  background-color:yellow;
  margin: 0 auto;
  height: 80vh;
  width: 80vw;
  padding: 3vh;
  box-sizing: border-box;
  &>h3{
    margin: 0;
    text-align: center;
    padding-bottom: 3vh;
  }
}

// center of window that becomes visible when navbar buttons are pressed
.popWindow{
  box-sizing: border-box;
  // margin-top: 10vh;
  margin-left: 15vw;
  height: 65vh;
  width: 70vw;
  background-color: white;
  &>div:first-child{
    width: 90%;
    // display: flex;
    // flex-direction: row-reverse;
    &>div:first-child{
      width: 10%;
      text-align: center;
      &:hover{
        background-color: red;
        color: white;
      }
    }
  }
  &>h3{
    padding-top: 10px;
    background-color: teal;
    margin-block-start: 0;
  }
  // padding: 20px;
  border-radius: 3px;
  z-index: 5;
}

// classes that are added to make windows visible or not
.invisible{
  z-index: -5;
}

.visible{
  z-index: 5;
}

// navigation bar
.navBar{
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $green;
}

.dataDisplay{
  // height: 30px;
  // background-color: lighten($green, 20%);
}

.navLinkButton{
  display: block;
  height: 8vh;
  width: 350px;
  font-size: 20px;
  border: 1px solid black;
  color: white;
  border-radius: 7px;
  background-color: $green;
  text-align: center;
  line-height: 50px;
  margin: 1vh auto;
  text-decoration: none;
  box-shadow: 3px 5px 5px rgba(184,182,207,1);
  &:active{
    box-shadow: 1px 3px 5px rgba(184,182,207,1);
  }
}

.signOptions{
  @include row-flex;  
}

.tableDiv{
  overflow-y: scroll;
  border: 1px solid blue;
  height: 50vh;
  width: 90%;
  margin: 0 auto;
  // margin: 10px auto;
}

.tableData{
  display: table;
  overflow: scroll;
  // height: 300px;
}

.rowTable{
  // display: table-row;
  height: 20px;
  // border: 1px solid green;
  &:nth-child(odd){
    background: rgb(196, 190, 190);
  }
  &:hover{
    background: ligten($green, 40%);
  }
}

.cellTable{
  display: table-cell;
  width: 62px;
  // height: 20px;
  // border: 1px solid green;
  overflow: hidden;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  // border: 1px solid green;
}

.confirmationWindow{
  background-color: lightblue;
  height: 150px;
  width: 280px;
  position: absolute;
  top: calc(50% - 37px);
  left: calc(50%- 75px);
  &>p{
    text-align: center;
  }
}

.visiblePrime{
  z-index: 10;
  visibility: visible;
}

.invisiblePrime{
  z-index: -10;
  visibility: hidden;
}

.linkButton{
  display: block;
  width: 5vw;
  margin-left: 60vw;
  height: 5vh;
  background-color: white;
  border: 1px solid red;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  &:before {
    content:'';
    height:100%;
    display:inline-block;
    vertical-align: middle;
  }
  &>*{
    vertical-align: middle;
    text-decoration: none;
  }
}

.number{
  width: 7%;
  border: 1px solid green;
}

.name{
  border: 1px solid green;
  width: 35%;
}

.date{
  border: 1px solid green;
  width: 43%;
}

.delete{
  border: 1px solid green;
  width: 15%;
}

table{
  border: 1px solid orange;
  width: 100%;
}

// .trashIcon{
//   padding-left: 3px;
// }

.rowParent>*{
  padding-left: 15px;
}

.keyboards{
  width: 90vw;
  background-color: whitesmoke;
  margin: 0 auto;
}

.Table{
  width: 95vw;
  margin: 0 auto;
  overflow-y: scroll;
  height: 80vh;
  border: 1px solid black;
}

.displayTitle{
  margin-left: 20vw;
}

.keyboardRight{
  background-color: lighten($green, 20%);
}

.dataTable{
  &>tbody>tr:hover{
    background-color: lighten($green, 40%);
  }
}